    
<div class="d-flex flex-column flex-md-row align-items-center mb-3 border-bottom px-0 px-md-3 pt-4 pb-3">
    <div class="website-header-box text-left mr-auto d-none d-md-block">
        <a href="/" class="plain">
    	<div class="vislang-head-text">
        	Geolocation Demo
        </div>
       	<div class="institution-head-text">
            <div class="divider-bar">|</div> <span class="uva-color">University of Virginia</span>
    	</div>
        </a>
    </div>

    <div class="website-header-box text-left d-block d-md-none my-2 pb-1">
        <a href="/" class="plain">
        <div class="institution-head-text">
            <div class="divider-bar">|</div> <span class="uva-color">UVA</span>
        </div>
        </a>
    </div>

    <div class="nav-scroller">
    <nav class="nav d-flex justify-content-end">

      <a class="px-2 text-dark m-0" href="/">home</a>
      <a class="px-2 text-dark m-0" href="/simple-demo">demo</a>
      <a class="px-2 text-dark m-0" href="#">about</a>
    </nav>
    </div>
</div>