<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Ramya Bhaskara, 2020">
<meta name="author" content="Nicholas Mohammad, 2020">
<meta name="author" content="Rajiv Sarvepalli, 2020">
<title>Geolocation Demo, University of Virginia</title>

<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/style.css?v=1.3" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<meta name="theme-color" content="#563d7c">